body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background-color: #363636;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    display: block;
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

button, input[type="submit"] {
    padding: 10px 20px;
    background: darkorange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, box-shadow 0.3s;
}

button:hover, input[type="submit"]:hover {
    background: #6b4307;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.error {
    color: red;
    font-size: 0.85em;
    margin-top: 5px;
}
